* {
    border: none;
    border-radius: 0;
    font-family: FiraCode Nerd Font;
    min-height: 0;
    font-size: 16px;
    color: rgb(200, 250, 200);
    margin: 0px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.9);
    color: #ebdbb2;
}

#workspaces {
    padding: 0px;
    background: #4e635b;
}

#workspaces button {
    background: #32302f;
    color: #7c818c;
    padding: 0 2px;
}

#workspaces button.persistent {
    color: #7c818c;
}

#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    color: #504945;
}

#workspaces button.active {
    background: #4e635b;
    color: white;
}

#language,
#network,
#clock,
#backlight,
#tray,
#custom-power, 
#pulseaudio,
#custom-mem,
#cpu,
#temperature,
#battery,
#custom-weather {
    padding: 0 3px;
    margin: 0 2px;
    background: #32302f;
}

#pulseaudio.muted {
    background-color: #cc241d;
    color: #2a5c45;
}


#temperature.critical {
    background-color: #eb4d4b;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

